<div id="map-sidenav-right" class="sidenav transition-default"
     [ngClass]="{'mobile': isMobileScreen(), 'open': (openRightPanel || !isMobileScreen())}">

  <div class="sidenav-title" [ngSwitch]="isMobileScreen()">
    <div *ngSwitchCase="false">
      <h2 class="title">Afficher sur la carte</h2>
    </div>
    <div *ngSwitchCase="true" class="sidenav-closer" (click)="toggleRightPanel()">
      <i class="fas fa-times" aria-hidden="true"></i>
    </div>
  </div>

  <div class="sidenav-content"
       [hidden]="!(getNbLayers()>0)"
       style="margin-bottom: 25px;">
      <app-layermanager></app-layermanager>
  </div>
</div>

<!-- backdrop -->
<div id="backdrop-right-panel" class="transition-default"
     [hidden]="!isMobileScreen"
     [ngClass]="{'active': backdropActive() }"
     (click)="backdropClicked()">
</div>

<!-- open menu when hidden -->
<div id="map-sidenav-right-mobile-toggler"
     (click)="toggleRightPanel()"
     [hidden]="!isMobileScreen() || openRightPanel">
  <h2 class="title">Menu Carte</h2>
</div>
