version: '3'
services:
  api:
    #    image: mohamnag/wildfly-postgres
    build: ./api/
    ports:
    - "8080:8080"
    - "9990:9990"
    - "8787:8787"
    environment:
    - DB_NAME=myapp
    - DB_PASS=my-password
    - DB_USER=myapp
    - DB_HOST=db
    - DS_NAME=hackathonDs
    - JNDI_NAME=java:jboss/jdbc/hackathonDs
    depends_on:
    - db
  db:
#    image: mdillon/postgis:11
    build: ./database/
    ports:
    - "5432:5432"
    environment:
    - POSTGRES_USER=myapp
    - POSTGRES_PASSWORD=my-password
