<div id="map-toolbar" class="py-3">

  <div class="container" style="margin-bottom: 30px;">
    <ul class="nav nav-pills list-inline">
      <li class="nav-item" (click)="toggleLoginForm()">
        <a class="user-profile"><i class="d-block fas fa-user-circle"></i></a>
      </li>
    </ul>
  </div>

  <div class="container">
    <ul class="nav nav-pills list-inline">
      <li class="nav-item" (click)="activateInteraction('drawPoint')"
          ngbTooltip="D&eacute;poser un point" placement="right" [openDelay]="200" [closeDelay]="200" tooltipClass="action-tooltip">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('drawPoint')}"><i class="d-block fas fa-map-marker-alt"></i></a>
      </li>
      <li class="nav-item" (click)="activateInteraction('selectRoad'); isInteractionActive('selectRoad')? p1.open() : p1.close()"
          ngbTooltip="Tracer une ligne" placement="right" [openDelay]="200" [closeDelay]="200" tooltipClass="action-tooltip">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('selectRoad')}">
          <i class="d-block fas fa-route"></i></a>
      </li>
      <li style="visibility: hidden"
          [ngbPopover]="askConfirmationDrawLine" placement="right" [autoClose]="false" triggers="manual" #p1="ngbPopover" popoverClass="shift-popover-left">
      </li>
      <li class="nav-item" (click)="activateInteraction('drawPolygon')"
          ngbTooltip="Tracer un polygone" placement="right" [openDelay]="200" [closeDelay]="200" tooltipClass="action-tooltip">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('drawPolygon')}"><i class="d-block fas fa-draw-polygon"></i></a>
      </li>
    </ul>

    <!-- user logged in logged in -->
    <app-select-notif-zone></app-select-notif-zone>
  </div>

  <ng-template #askConfirmationDrawLine>
    <ul class="nav nav-pills list-inline">
      <li class="nav-item" (click)="confirmInteractionAction(); p1.close()"
          ngbTooltip="Terminer l'action" placement="right" [openDelay]="200" [closeDelay]="200" container="body" tooltipClass="action-tooltip">
        <a class="interaction-item pop nav-link"><i class="d-block fa fa-check"></i></a>
      </li>
      <li class="nav-item" (click)="cancelInteractionAction(); p1.close()"
          ngbTooltip="Annuler l'action" placement="right" [openDelay]="200" [closeDelay]="200" container="body" tooltipClass="action-tooltip">
        <a class="interaction-item pop nav-link"><i class="d-block fa fa-times"></i></a>
      </li>
    </ul>
  </ng-template>

</div>
