<div id="map-toolbar" class="py-3">

  <div class="container" style="margin-bottom: 30px;">
    <ul class="nav nav-pills list-inline">
      <li class="nav-item" (click)="toggleLoginForm()">
        <a class="user-profile"><i class="d-block fas fa-user-circle"></i></a>
      </li>
    </ul>
  </div>

  <div class="container">
    <ul class="nav nav-pills list-inline">
      <li class="nav-item" (click)="activateInteraction('drawPoint')">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('drawPoint')}"><i class="d-block fas fa-map-marker-alt"></i></a>
      </li>
      <li class="nav-item" (click)="activateInteraction('selectRoad')">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('selectRoad')}"><i class="d-block fas fa-route"></i></a>
      </li>
      <li class="nav-item" (click)="activateInteraction('drawPolygon')">
        <a class="interaction-item nav-link" [ngClass]="{'active': isInteractionActive('drawPolygon')}"><i class="d-block fas fa-draw-polygon"></i></a>
      </li>
      <li class="nav-item">
        <a class="interaction-item nav-link" [ngClass]="{'active': false}"><i class="d-block far fa-bell"></i></a>
      </li>
    </ul>
  </div>

</div>
